<template>
    <input id="user-input" type="number" class="no-spinner" placeholder="input number here" v-model="inputValue">
    <div class="wrapper-3">
        <NumBtn v-for="num in text" :key="num" :num="num" @button-clicked="handleNumBtnClick" />
        <button @click="handleResultClick">
            =
        </button>
        <button id="clrBtn" @click="clearInput">
            Clear
        </button>
    </div>
    <div class="wrapper-4">
        <OpBtn v-for=" op in ops" :key="op" :op="op" @button-clicked="handleOpBtnClick" />
    </div>
</template>

<script lang="ts">
import NumBtn from './NumBtn.vue'
import OpBtn from './OperatorBtn.vue'
export default {
    data() {
        return {
            text: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
            inputValue: '',
            ops: ['+', '-', 'x', '/'],
            curOp: '',
            result: 0
        };
    },
    components: {
        NumBtn,
        OpBtn,
    }, methods: {
        handleNumBtnClick(clickedNum: number) {
            this.inputValue += clickedNum
        },
        handleOpBtnClick(op: string) {
            if (op === '=') {
                this.handleResultClick
            } else if (op === 'clear') {
                this.clearInput
            } else {
                this.result = parseFloat(this.inputValue)
                this.curOp = op
                this.inputValue = ''
            }
        },
        handleResultClick() {
            let op = this.curOp
            let num = parseFloat(this.inputValue)
            switch (op) {
                case '+':
                    this.result += num
                    break;
                case '-':
                    this.result -= num
                    break;
                case 'x':
                    this.result *= num
                    break;
                case '/':
                    this.result /= num
                    break;
                default:
                    break;
            }
            if (this.result != 0) {
                this.inputValue = String(this.result)
            } else {
                this.clearInput
                this.inputValue = ''
            }
        },
        clearInput() {
            this.result = 0
            this.inputValue = ''
            this.curOp = ''
        }
    }
}
</script>

<style scoped>
input {
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 1em auto;
}

@media (prefers-color-scheme: light) {

    input::placeholder {
        color: #000;
    }
}

#clrBtn {
    background: rgba(255, 0, 0, 0.4);
}

.no-spinner {
    appearance: textfield;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    color: #fff;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border ease 0.2s;
}

button:hover {
    border-color: #fff;
}

.wrapper-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.wrapper-op-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}
</style>
