<template>
    <button @click="handleBtnClick()">
        {{ num }}
    </button>
</template>

<script lang="ts">
export default {
    name: 'numBtn',
    props: {
        num: {
            type: Number,
            required: true,
        },
    },
    methods: {
        handleBtnClick() {
            this.$emit('button-clicked', this.num);
        }
    }
}
</script>
