<template>
    <button @click="handleOperatorClick()">
        {{ op }}
    </button>
</template>

<script lang="ts">
export default {
    name: 'operatorBtn',
    props: {
        op: {
            type: String,
            required: true,
        },
    },
    methods: {
        handleOperatorClick() {
            this.$emit('button-clicked', this.op);
        }
    }
}
</script>

<style scoped>
button:focus {
    border-color: red;
}
</style>