<script setup lang="ts">
import MainView from './components/MainView.vue'
</script>

<template>
  <div class="page">
    <header>
      <h1>Calculator Web App</h1>
    </header>
    <MainView></MainView>
    <footer>
      <h3 class="owner">
        Created by <br>
        <a href="https://gitlab.com/65160312">
          Aphidech Mahakoat
        </a>
      </h3>
    </footer>
  </div>
</template>

<style scoped>
.page {
  max-width: 440px;
}

header {
  text-align: center;
  color: hsla(160, 100%, 37%, 1);
}

.owner {
  margin-top: 2em;
  text-align: center;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

}
</style>
